<div id="<%= dom_id buyer %>">
  <p>
    <strong>Name:</strong>
    <%= buyer.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= buyer.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= buyer.email %>
  </p>

  <p>
    <strong>Cellphone:</strong>
    <%= buyer.cellphone %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= buyer.payment %>
  </p>

</div>
